.translate{

  nav{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    a{
      padding: 10px 20px;
      background-color: #c6c6c6;

      &:hover{
        background-color: darken(#c6c6c6, 5%);
      }
    }
  }

  &-form{
    .button{
      margin-top: 10px;
      display: flex;
      justify-content: center;

      button{
        margin-right: 10px;
      }
    }
    &-fields{
      display: flex;
      justify-content: space-between;

      &-text{
        .language{
          display: flex;
          align-items: center;
          margin-top: 10px;

          &-select{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
